/* Copyright: Based on 0ritzy0 work on codepen https://codepen.io/0ritzy0/pen/DGcji */

/* Variables */
/* - Colors */
$skin:     #f9df1c;
$skin-dark:#ecd107;
$shirt:      #2f405f;
$sleeve:     $shirt;
$cuff:       lighten($sleeve, 5%);
$pants:      #c49870;
$pants-dark: darken($pants, 8%);
$black:      #303030;
$shoes:		 #ffffff;
$shoes-dark: #eae7df;
/* - Sizes */
$logo-size: 20px;

:root{
	/* Colors */
	--legoman-skin-color: #{$skin};
	--legoman-skin-dark-color: #{$skin-dark};
	--legoman-eye-color: #{$black};
	--legoman-lips-color: #{$black};
	--legoman-shirt-color: #{$shirt};
	--legoman-sleeve-color: #{$sleeve};
	--legoman-cuff-color: #{$cuff};
	--legoman-pants-color: #{$pants};
	--legoman-pants-dark-color: #{$pants-dark};
	--legoman-shoes-color: #{$shoes};
	--legoman-shoes-dark-color: #{$shoes-dark};

	/* Sizes */
	--legoman-logo-size: #{$logo-size};
}

.patent-shape{
	*:before,
	*:after{
		position: absolute;
		content:'';
		display: block;
	}

	#legoman-head{
		zoom: 1.1;
		width: 98px;
		height: 83px;
		background: var(--legoman-skin-color);
		margin: 50px auto 0;
		border-radius: 25px / 20px;
		box-shadow:
				0 -44px 0 -28px var(--legoman-skin-dark-color),
				0 32px 0 -22px var(--legoman-skin-dark-color);
		position: relative;
		/* Eyes */
		&:before{
			background: var(--legoman-eye-color);
			width: 12px;
			height: 12px;
			top: 26px;
			left: 26px;
			border-radius: 100%;
			box-shadow: 33px 0 0 0 var(--legoman-eye-color);
		}
		/* Mouth */
		&:after{
			top: 54px;
			left: 30px;
			width: 38px;
			height: 10px;
			border: 5px solid var(--legoman-lips-color);
			border-top: 0;
			border-radius: 0 0 20px 20px / 0 0 10px 10px;
		}
	}

	#legoman-body{
		margin: 22px auto 0;
		width: 158px;
		border-bottom: 116px solid var(--legoman-shirt-color);
		border-left: 22px solid transparent;
		border-right: 22px solid transparent;
		position: relative;
		/* Top Collar */
		&:before{
			top: -12px;
			left: 0px;
			background: var(--legoman-shirt-color);
			border-radius: 20px 20px 0 0;
			height: 12px;
			width: 114px;
		}
	}

	#legoman-chest-logo{
		z-index: 4;
		position: absolute;
		top: 15px;
		right: 15px;
		background-image: url(../assets/lizard-orange.svg);
		width: var(--legoman-logo-size);
		height: var(--legoman-logo-size); /* Same as width as the logo is square */
	}

	.legoman-arm{
		position: absolute;
		z-index:-1;
		width: 40px;
		height: 77px;
		border-radius: 60px 30px 0 0;
		background: var(--legoman-sleeve-color);
		top: -8px;
		/* Lower Sleeve */
		&:before{
			width: 41px;
			background: inherit;
			top: 70px;
			left: 5px;
			height: 42px;
		}
		/* Inner Sleeve Shadow */
		&:after{
			border-radius: 100%;
			height: 12px;
			width: 40px;
			background: var(--legoman-cuff-color);
			top: 105px;
			left: 11px;
		}

		&#left {
			left: -40px;
			transform: rotate(27deg);
			&:before{
				transform: rotate(-16deg);
			}
			&:after{
				transform: rotate(-16deg);
			}
			.legoman-hand{
				transform: rotate(-16deg);
			}
		}

		&#right {
			right: -40px;
			transform: rotateY(180deg)
			rotate(27deg);


			&:before{
				transform: rotate(-16deg);
			}
			&:after{
				transform: rotate(-16deg);
			}
			.legoman-hand{
				transform: rotate(-16deg);
			}
		}
	}

	.legoman-hand{
		z-index:5;
		top: 120px;
		left: 16px;
		width: 50px;
		height: 52px;
		border-radius: 100%;
		border-style: solid;
		border-color: var(--legoman-skin-color) var(--legoman-skin-color) transparent;
		border-width: 12px 10px 10px;
		position: relative;
		/* Finger Tips */
		&:before{
			border-radius: inherit;
			background: var(--legoman-skin-color);
			height: 10px;
			width: 10px;
			top: 25px;
			left: -3px;
			box-shadow: 26px 0 0 0 var(--legoman-skin-color);
		}
		/* Wrists */
		&:after{
			background: var(--legoman-skin-color);
			height: 24px;
			width: 30px;
			border-radius: 60px / 20px;
			top: -25px;
			left: 0px;
		}
	}

	#legoman-pants{
		background: var(--legoman-pants-color);
		height: 24px;
		width: 158px;
		position: relative;
		margin: 0 auto;
		box-shadow: 0 24px 0 0 var(--legoman-pants-dark-color),
			0 48px 0 0 var(--legoman-pants-dark-color);

		&:before{
			background: inherit;
			height: 50px;
			border-radius: 0 0 5px 5px;
			width: 7px;
			top: 22px;
			left: 75px;
		}
		&:after{
			top: 72px;
			width: 76px;
			height: 68px;
			background: inherit;
			box-shadow: 82px 0 0 0 var(--legoman-pants-color),
				82px 6px 0 0 var(--legoman-shoes-dark-color),
				82px 22px 0 0 var(--legoman-shoes-color),
				0 6px 0 0 var(--legoman-shoes-dark-color),
				0 22px 0 0 var(--legoman-shoes-color);
		}
	}
}
