/* Variables */
/* - Colors */
$white:	#fff;
$blueprint-blue: #447ec5;

$patent-color: $white;
$patent-bg-color: $blueprint-blue;
$patent-grid-primary-color: rgba(255, 255, 255, 0.3);
$patent-grid-secondary-color: rgba(255, 255, 255, 0.15);
$patent-grid-primary-width: 50px;
$patent-grid-secondary-width: 10px;
$patent-qr-code-img-bg: $white;

$brick-knob-height: 5px;
$brick-knob-width: 10px;
$brick-knob-spacing: 10px;

:root{
	--patent-grid-primary-color: #{$patent-grid-primary-color};
	--patent-grid-secondary-color: #{$patent-grid-secondary-color};
	--patent-border: 2px solid rgba(255, 255, 255, 0.5);

	--brick-width: 5em;
	--brick-height: 2em;
	--brick-color-default: #444;
	--brick-bg-color-default: #{$white};
	--brick-color-php: #444;
	--brick-bg-color-php: #{$white};
	--brick-color-xml: #444;
	--brick-bg-color-xml: #{$white};
	--brick-color-js: #444;
	--brick-bg-color-js: #{$white};
	--brick-color-tests: #444;
	--brick-bg-color-tests: #{$white};
}

.patent-wrapper{
	margin: auto;
	padding: 3rem;
	width: 55rem;
	color: $patent-color;
	background-color: $patent-bg-color;
	box-shadow: 0 4px 5px 1px rgba(0,0,0,0.3);

	.patent-header{
		padding-bottom: 0.2rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
		font-weight: 500;
		border-bottom: 2px solid rgba(255, 255, 255, 0.7);
	}
	.patent-content{
		position: relative;
		padding: 3em 0;
		min-height: 40em;
		border: var(--patent-border);
		background-size: $patent-grid-primary-width $patent-grid-primary-width, $patent-grid-primary-width $patent-grid-primary-width, $patent-grid-secondary-width $patent-grid-secondary-width, $patent-grid-secondary-width $patent-grid-secondary-width;
		background-position: center center; /*-24px -24px, -24px -24px, -1px -4px, -4px -1px;*/
		background-image: linear-gradient(var(--patent-grid-primary-color) 1px, transparent 1px), linear-gradient(90deg, var(--patent-grid-primary-color) 1px, transparent 1px), linear-gradient(var(--patent-grid-secondary-color) 1px, transparent 1px), linear-gradient(90deg, var(--patent-grid-secondary-color) 1px, transparent 1px);

		.patent-shape{
			position: relative;
			z-index: 0;
		}

		.patent-topics{
			.patent-topic{
				position: absolute;
				/* Must be overloaded by each topic to be properly positioned */
				top: 0;
				left: 0;
			}
		}

		.patent-bricks{
			position: absolute;
			bottom: 10em;
			left: 0em;

			.patent-brick{
				position: absolute;
				/* Must be overloaded by each brick to be properly positioned */
				bottom: 0;
				left: 0;
				width: var(--brick-width);
				height: var(--brick-height);
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 500;
				/* Must be overloaded by each brick to be properly positioned */
				color: var(--brick-color-default);
				background-color: var(--brick-bg-color-default);

				&::before{
					content: "";
					position: absolute;
					top: calc(-1 * #{$brick-knob-height});
					width: 100%;
					height: $brick-knob-height;
					background-image: repeating-linear-gradient(90deg, var(--brick-bg-color-default) 0px #{$brick-knob-width}, transparent #{$brick-knob-width} calc(#{$brick-knob-width} + #{$brick-knob-spacing}));
					background-repeat: repeat;
					background-position: calc(#{$brick-knob-width} / 2) 0px;
				}

				&#patent-brick-php{
					color: var(--brick-color-php);
					background-color: var(--brick-bg-color-php);
					&::before{
						background-image: repeating-linear-gradient(90deg, var(--brick-bg-color-php) 0px #{$brick-knob-width}, transparent #{$brick-knob-width} calc(#{$brick-knob-width} + #{$brick-knob-spacing}));
					}
				}
				&#patent-brick-xml{
					left: var(--brick-width);
					color: var(--brick-color-xml);
					background-color: var(--brick-bg-color-xml);
					&::before{
						background-image: repeating-linear-gradient(90deg, var(--brick-bg-color-xml) 0px #{$brick-knob-width}, transparent #{$brick-knob-width} calc(#{$brick-knob-width} + #{$brick-knob-spacing}));
					}
				}
				&#patent-brick-js{
					bottom: var(--brick-height);
					left: calc(var(--brick-width) / 2);
					color: var(--brick-color-js);
					background-color: var(--brick-bg-color-js);
					&::before{
						background-image: repeating-linear-gradient(90deg, var(--brick-bg-color-js) 0px #{$brick-knob-width}, transparent #{$brick-knob-width} calc(#{$brick-knob-width} + #{$brick-knob-spacing}));
					}
				}
				&#patent-brick-tests{
					transform: rotateZ(35deg);
					left: calc(var(--brick-width) * 2 * 0.9);
					bottom: calc(var(--brick-height) * 0.625);
					color: var(--brick-color-tests);
					background-color: var(--brick-bg-color-tests);
					&::before{
						background-image: repeating-linear-gradient(90deg, var(--brick-bg-color-tests) 0px #{$brick-knob-width}, transparent #{$brick-knob-width} calc(#{$brick-knob-width} + #{$brick-knob-spacing}));
					}
				}
			}
		}

		.patent-qrcode,
		.patent-company{
			position: absolute;
			bottom: 0;
			padding: 0.5em;
			background-color: $patent-bg-color;
			border: var(--patent-border);
			border-bottom: none;
		}
		.patent-qrcode{
			left: 0;
			width: 10em;
			border-left: none;

			img{
				width: 100%;
				background-color: $patent-qr-code-img-bg;
			}
		}
		.patent-company{
			right: 0;
			border-right: none;
		}
	}
}
