/* Variables */
/* - Colors */
$white:	#fff;
$blueprint-blue: #447ec5;

$patent-color: $white;
$patent-bg-color: $blueprint-blue;
$patent-grid-primary-color: rgba(255, 255, 255, 0.5);
$patent-grid-secondary-color: rgba(255, 255, 255, 0.3);
$patent-grid-primary-width: 50px;
$patent-grid-secondary-width: 10px;
$patent-border: 2px solid $patent-grid-primary-color;


.patent-wrapper{
	margin: auto;
	padding: 3rem;
	width: 55rem;
	color: $patent-color;
	background-color: $patent-bg-color;
	box-shadow: 0 4px 5px 1px rgba(0,0,0,0.3);

	.patent-header{
		font-size: 1.5rem;
		font-weight: 500;
		padding-bottom: 0.2rem;
		border-bottom: 2px solid rgba(255, 255, 255, 0.7);
		margin-bottom: 0.5rem
	}
	.patent-content{
		position: relative;
		padding: 3em 0;
		min-height: 35em;
		border: $patent-border;
		background-size: $patent-grid-primary-width $patent-grid-primary-width, $patent-grid-primary-width $patent-grid-primary-width, $patent-grid-secondary-width $patent-grid-secondary-width, $patent-grid-secondary-width $patent-grid-secondary-width;
		background-position: -24px -24px, -24px -24px, -1px -4px, -4px -1px;
		background-image: linear-gradient($patent-grid-primary-color 1px, transparent 1px), linear-gradient(90deg, $patent-grid-primary-color 1px, transparent 1px), linear-gradient($patent-grid-secondary-color 1px, transparent 1px), linear-gradient(90deg, $patent-grid-secondary-color 1px, transparent 1px);

		.patent-shape{
			position: relative;
			z-index: 0;
		}

		.patent-topics{
			.patent-topic{
				position: absolute;
				/* Must be overwritten by each topic to be properly positioned */
				top: 0;
				left: 0;
			}
		}

		.patent-qrcode,
		.patent-company{
			position: absolute;
			bottom: 0;
			padding: 0.5em;
			background-color: $patent-bg-color;
			border: $patent-border;
			border-bottom: none;
		}
		.patent-qrcode{
			left: 0;
			width: 8em;
			border-left: none;

			img{
				width: 100%;
			}
		}
		.patent-company{
			right: 0;
			border-right: none;
		}
	}
}